*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(177, 173, 173);

}
.container{
    width: 100%;
    max-width: 700px;
    height:530px;
    margin:20px auto;
    background-color: white;
    border-radius: 6px;
    position: relative;

    
}
.container h2{
    background-color: rgba(78, 7, 145, 0.596);
    margin:10px 0;
    padding:10px;
    text-align: center;
    font-size: 18px;
    color:white;
    font-weight: 500;
    letter-spacing: 1px;

}

.incomming{
    display: flex;
    gap:8px;
    align-items: center;
}
.incomming p{
    background-color: rgb(145, 142, 145);
    color:white;
    padding:10px;
    border-radius: 8px 8px 8px 0px;
    margin:5px;
    max-width: 65%;
}


.incomming span{
    padding: 15px;
    border-radius: 50%;
    border:1px solid black;
    height: 40px;
    width: 40px;

}

.outgoing{
    display: flex;
    justify-content: flex-end;

}
.outgoing p{
    background-color: rgb(120, 20, 129);
    padding:15px;
    border-radius: 8px 8px 0px 8px;
    margin:5px;
    max-width: 65%;

}

.text{
    position: absolute;
    bottom:0px;
    left:0px;
    padding:10px;
    margin-left:5px;
    width: 100%;
}
.text .message{
    
    padding:10px;
    width: 75%;
    margin-left:50px;

}




.friends{
    background-color: rgb(204, 202, 202);
    
    margin: 20px 0px 10px 60px ;
    width: 80%;
    padding:15px;
    border-radius: 8px;
}



.person{
    display: flex;
   
}
.person .profile{
    flex-basis: 20%;
}

.person img{
    
    height:60px;
    width: 60px;
    border-radius: 50%;

}
.info .name{
    flex-basis: 70%;
    font-size:18px;
    font-weight: 500;

    

}
.message{
    display: flex;
    gap:50px;
}